
{% extends 'bootstrap/base.html' %}
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Head information goes here -->
    <style>
        {% block styling %}
        {{ bootstrap.load_css() }}
        body{
            background: purple;
        }
        {% endblock %}
    </style>
    {% endblock head %}
    {% block navbar %}
    <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!--     Your navbar goes here-->
      <a class="navbar-brand" href="#">Always expand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav>
    {% endblock navbar %}
    {% block content %}
    <!-- flash message goes here -->
        {% block app_content %}
            <!-- Content from your custom HTML templates will go here -->
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
              <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
              <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        {% endblock app_content %}
    {% endblock content %}
    {% block scripts %}
        <!-- Your scripts go here -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    {% endblock scripts %}

