{% extends 'base.html' %}
{% block head %}
{% block title %}Ranger{% endblock %}
{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
    {% for spell in class_spells %}
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ spell['name'] }}</h5>
            <p class="card-text">Level Learned: {{ spell['level'] }}</p>
            <a href="{{ url_for('search_spells', user_spell=spell['name']) }}" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
<!--    <ul class="list-group list-group-flush">-->
<!--      <li class="list-group-item">Cras justo odio</li>-->
<!--      <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--      <li class="list-group-item">Vestibulum at eros</li>-->
<!--    </ul>-->
<!--    <div class="card-body">-->
<!--      <a href="#" class="card-link">Card link</a>-->
<!--      <a href="#" class="card-link">Another link</a>-->
<!--    </div>-->
<!--  </div>-->
</div>
{% endblock %}
